################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.NET/Coffesoft Application/.vs/Coffesoft Application/v15/Server/sqlite3
